@import 'Base/Variables';
@import 'Base/extend';
@import 'Components/Header';
@import 'Components/Error';
@import 'Components/GestMens';

Body{
    background-color: rgb(33, 33, 33);
}
.Bienvenidos{
    margin-top: 4px;
    text-align: center;
    color: white;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 5px;
}
.gallery__item {
    position:relative;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    margin: 0;
}
.gallery__item:nth-child(1) {
    grid-row-start: span 6;
}
.gallery__item:nth-child(2) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(3) {
    grid-row-start: span 2;
}
.gallery__item:nth-child(4) {
    grid-row-start: span 6;
}
.gallery__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 4;
}
.gallery__item:nth-child(6) {
    grid-column-start: span 4;
    grid-row-start: span 5;
}
.form-label {
    font-size: 1.5rem;
}
.form-textarea {
    font-size: 1rem;
}
.btn-submit {
    font-size: 1.5rem;
    font-style: normal;
    background-color: rgb(245, 159, 202);
    border-radius: 5px;
}
btn-reset {
    font-size: 1rem;
    border: 1px;
}
.btn-reset {
    font-style: italic;
    background-color: lightyellow;
    font-size: 1rem;
    border-radius: 5px;
}
.titulo{
    font-size: 60px;
    text-align: center;
    font-style: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 2px rgb(39, 39, 39);
}

.menu { 
    position: 3%;
    font-family:serif;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}



.flex-conteiner {
    height: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    &__Img {
        justify-content: center;
        margin-left: 60%;
        width: 60%;
    }
    &__Foto {
        width: 50%;
        justify-content: center;
    }
    &__Texto{
        font-size: 30px;
    }
    &__nombres {
        text-align: center;
        height: auto;
        background-color: rgba(11,242,154,1);    
        margin-left: 25%;
        width: 50%;
        border-radius: 10px;
    }
    &__Descripcion1 {
        display: block;
        background: linear-gradient(90deg, rgba(0,255,34,1) 0%, rgba(11,242,154,1) 47%, rgba(0,255,244,1) 100%);
        margin-left: 16%;
        width: 70%;
        height: auto;
        border-radius: 10px;
        margin-top: 2rem;
    }
    &__Descripcion2 {
        background: linear-gradient(90deg, rgba(0,255,34,1) 0%, rgba(11,242,154,1) 47%, rgba(0,255,244,1) 100%);
        margin-left: 16%;
        width: 70%;
        height: auto;
        font-size: 2rem;
        border-radius: 10px;
    }
}
header {
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:bold;
}
body {
    padding-bottom: 2rem;
}

.SectionNav{
    background-color: #93ffa1;
}
.tabla {
    margin-bottom: 2rem;
}
.Productos {
    background-color: lightsalmon;
    text-align: center;
}
.Lateral {
    background-color: rgb(207, 255, 253);
}
.Shampoo {
    background-color: rgba(166, 255, 148, 0.752);
}
.Acond {
    background-color: rgba(177, 163, 254, 0.455);
}
.Desmaq {
    background-color: rgba(232, 232, 0, 0.612);
}
.Desod {
    background-color: rgb(255, 175, 236);
}
.SobreNP {
    background-color: rgb(208, 208, 208);
}
.icono {
    height: 2px;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: start;
}
.Contacto__Redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.a {
    font-family: 'Poppins';
    color: black;
    margin: 1.5rem;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 0.6rem;
}
.DescripcionPag {    
    padding: 9rem;
    background: #93ffa1;
    background: linear-gradient(90deg, rgba(0,255,34,1) 0%, rgba(11,242,154,1) 47%, rgba(0,255,244,1) 100%);
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(32, 32, 32);
    font-family: 'Dawning of a New Day';
    font-size: 60px;
    word-spacing: 1px;
    line-height: 90px;
    font-weight: lighter;
    font-style: initial;
        
        &__Video iframe{
            margin: 4em;
            padding: 4px;
            background-color: rgb(0, 0, 0);
            width: 62rem;
            height: 35rem;
        }
}

.ProductosImg{
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(160, 160, 160);
    text-shadow: 2px 2px 2px rgb(208, 207, 207);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    height: auto;
    
    &__Text{
            font-size: 1.5rem;
            text-align: center;
            height: auto;
    }
    
    &__Card{
        height: auto;
    }
}
.CardContainer{
    display: flex;
    justify-content:stretch;
    
    &__Card {
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(160, 160, 160);
        text-shadow: 2px 2px 2px rgb(208, 207, 207);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 8px;
    }
    &__Text{
        font-size: 2rem;
        text-align: center;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    &__CardTxt{text-align: center;
        font-size: 2rem;
    }
}
.Footer {    
    background-color: rgb(184, 255, 113);
    margin-left: 10%;
    margin-right: 10%;

    &__Text{
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

    .DescripcionPag {
        
        justify-content: center;
        font-family: 'Dawning of a New Day';
        font-size: 30px;
        word-spacing: 1px;
        line-height: 2rem;
        font-weight: lighter;
        font-style: initial;
    }
    .flex-conteiner__Texto{
        font-size: 1rem;
    }

@media only screen and (max-width: 880px) {
    .CardContainer__card {
        display: flex;
        flex-direction: column;
    }

}
@media only screen and (max-width: 600px) {
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 150px;
        padding: 2px;
    }
    .gallery__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
        margin: 0;
        font-size: 1rem;
        text-align: center;
    }
    .gallery__item:nth-child(1) {
        grid-row-start: span 3;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(2) {
        grid-row-start: span 2;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(3) {
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(4) {
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(5) {
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(6) {
        grid-row-start: span 2;
        grid-column-start: span 4;
    }
}